@import 'bootstrap';
@import 'bootstrap-icons';

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.full {
  color: gold;
}

.empty {
  color: lightgray;
}

header {
  background-color: black;

  .logo {
    color: red;
    font-weight: 600;
    font-size: 30px;
  }
}